/* TODO */
.controls-row :host > div {
	margin: 0 calc(10% - 27px);  /*  (100% - 6*width) / 10   */
}

:host > div {
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #333;
	border-radius: 10px;
	position: relative;
}

:host > div[val="."] { background: #333; }
:host > div[val="l"] { background: blue; }
:host > div[val="b"] { background: orange; }
:host > div[val="d"] { background: white; }
:host > div[val="f"] { background: red; }
:host > div[val="r"] { background: green; }
:host > div[val="u"] { background: yellow; }


:host > div[selected]::before {
	position: absolute;
	content: "";
	background: url(check.svg);
	width: 30px;
	height: 26px;
	top: 9px;
	left: 9px;
}


:host > div[val="."][selected]::before, 
:host > div[val="l"][selected]::before, 
:host > div[val="f"][selected]::before, 
:host > div[val="r"][selected]::before {
	background-position: 30px 0;
}


:host > div:hover {
	cursor: pointer;
	transform: scale(1.133);
}

:host > div[selected]:hover {
	cursor: auto;
	transform: scale(1);
}
