<style>
	:host { box-sizing: border-box; }
	*, *:before, *:after { box-sizing: inherit; }

	:host {
		max-width: 50px;
		min-width: 35px;
		height: 50px;
		border: 2px solid #333;
		border-radius: 6px;
		display: grid;
		place-items: center;
	}

	:host([val="."]) { background: #111; }
	:host([val="l"]) { background: blue; }
	:host([val="b"]) { background: orange; }
	:host([val="d"]) { background: white; }
	:host([val="f"]) { background: red; }
	:host([val="r"]) { background: green; }
	:host([val="u"]) { background: yellow; }

	:host([val="."]) path,
	:host([val="l"]) path,
	:host([val="f"]) path,
	:host([val="r"]) path {
		fill: white;
	}

	:host(:not([selected]):hover) {
		cursor: pointer;
		transform: scale(1.13);
	}
	:host(:not([selected])) svg {
		display: none;
	}
</style>

<svg width="30" height="26"> <!-- checkmark -->
	<path d="M0 16c5.2 3.5 6.9 5.6 10.5 10C14 19.8 19.8 11.5 30 1.7L28.5 0a97 97 0 0 0-19 18 21.5 21.5 0 0 0-8.3-4.3z"/>
</svg>
