:host > div {
	display: inline-block;
	vertical-align: bottom;
	width: calc(70% + 84px);
	max-width: 430px;
}

:host > div .controls-row {
	position: relative;
	width: 100%;
	padding: 2px 0px;
	margin: 17px auto 0;
	text-align: left;
	font-size: 0; /* to remove space between blocks */
}


.button-container {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

.button-container .button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
}


@media (min-width: 940px) {
	.controls {
		width: calc(15% + 195px);
		max-width: 360px;
		margin-bottom: 20px;
	}
}