<style>
	@import 'controls.css';
</style>

<div>
	<div class="controls-row">
		<m-colorpick val="l"></m-colorpick>
		<m-colorpick val="b"></m-colorpick>
		<m-colorpick val="d"></m-colorpick>
		<m-colorpick val="f"></m-colorpick>
		<m-colorpick val="r"></m-colorpick>
		<m-colorpick val="u"></m-colorpick>
	</div>
	<div class="controls-row">
		<m-colorpick val="." selected></m-colorpick>
		<div class="button-container">
			<m-button id="button-reset">Reset</m-button>
			<m-button id="button-empty">Empty</m-button>
			<m-button id="button-shuffle">Shuffle</m-button>
		</div>
	</div>
	<div class="controls-row">
		<m-button id="button-solve" primary>Solve</m-button>
	</div>
</div>
