<style>
	:host .row {
		display: grid;
		grid-template-columns: min-content;
		justify-items: stretch;
		justify-content: stretch;
	}

	:host .row1 {
		display: flex;
		justify-content: space-between;
		max-width: 500px;
	}

	:host m-colorpick {
		flex-grow: 1;
		margin: 0 1px;
	}
	:host m-colorpick[val="."] {
		margin-left: 6%;
	}
</style>

<div>
	<div class="row1">
		<m-colorpick val="l"></m-colorpick>
		<m-colorpick val="b"></m-colorpick>
		<m-colorpick val="d"></m-colorpick>
		<m-colorpick val="f"></m-colorpick>
		<m-colorpick val="r"></m-colorpick>
		<m-colorpick val="u"></m-colorpick>
		<m-colorpick val="." selected></m-colorpick>
	</div>
	<!-- <div class="row">
		<m-button id="button-reset">Reset</m-button>
		<m-button id="button-empty">Empty</m-button>
		<m-button id="button-shuffle">Shuffle</m-button>
		<m-button id="button-solve" primary>Solve</m-button>
	</div> -->
</div>
