<style>
	.message {
		font-family: sans-serif;
		font-size: 18px;
		font-weight: bold;
		color: black;
		vertical-align: middle;
		padding: 0 10px;
		border: 5px solid #333;
		background: white;
		height: 32px;
		line-height: 30px;
	}

	.message.hidden {
		display: none;
	}

	.message.error {
		background: red;
		color: white;
	}
</style>

<div>
	<m-cube-unfolded></m-cube-unfolded>
	<div style="width: 100%; height: 150px; background: grey;">
		<m-controls></m-controls>
	</div>

	<div class="message hidden"></div>
</div>
