/* .scene { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; } */


.scene {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	/* perspective-origin: 50% 50%; */
	/* background: #aaaa; */
}

@keyframes rotate {
	from { transform: rotateX(-.15turn) rotateY(0); }
	to { transform: rotateX(.85turn) rotateY(5turn); }
}
.cube {
	/* animation: rotate 50s infinite linear; */
}
  


.cube {
	position: relative;
	top: -50px;  /* move cube to the middle (as size of one cubie face is 100px*100px */
	right: 50px;
	transform-style: preserve-3d;
	transform-origin: 50px 50px;  /* so the cube rotates around middle of itself */
	transform: rotateY(-30deg) rotateX(-20deg) rotateZ(9deg);
}

/* .cube-layer {
	transform-style: preserve-3d;
	transform-origin: 50px 50px;
}
.cube-layer.turn {
	transition: transform .8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
} */

[data-turn], [data-p], [data-o] {
	transform-style: preserve-3d;
	transform-origin: 50px 50px;
}

[data-p="0"] { transform: rotateY(0); }
[data-p="1"] { transform: rotateY(-90deg); }
[data-p="2"] { transform: rotateY(90deg); }
[data-p="3"] { transform: rotateY(180deg); }
[data-p="4"] { transform: rotateX(180deg) rotateY(90deg); }
[data-p="5"] { transform: rotateZ(180deg); }
[data-p="6"] { transform: rotateX(180deg); }
[data-p="7"] { transform: rotateX(180deg) rotateY(-90deg); }

[data-o="0"] { --angle:   0deg; }
[data-o="1"] { --angle: 120deg; }
[data-o="2"] { --angle: 240deg; }
[data-o] { transform: translate3d(50px, -50px, 50px) rotate3d(1, -1, 1, var(--angle)); }




/* outer (main) side of each face */
.face {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: rgba(0,30,60,0.2);
	/* background-color: black; */
	border-radius: 16px;
	transform-style: preserve-3d;
	/* backface-visibility: hidden; */
}

/* inner side of each face */
.face::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotateX(180deg);
	border-radius: inherit;
	background-color: inherit;
	backface-visibility: inherit;
}

.face:nth-child(1) { transform: rotateX(90deg)  translateZ(50px); }
.face:nth-child(2) { transform: rotateY(90deg)  translateZ(50px); }
.face:nth-child(3) { transform:                 translateZ(50px); }
.face:nth-child(4) { transform: rotateY(-90deg) translateZ(50px); }
.face:nth-child(5) { transform: rotateY(180deg) translateZ(50px); }
.face:nth-child(6) { transform: rotateX(-90deg) translateZ(50px); }




.cubie-corner {
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: 50px 50px;
	width: 100px;
	height: 100px;
	background: black;
}

.cubie-corner.a { transform: rotateX(90deg); }
.cubie-corner.b { transform: rotateY(90deg); }



[data-sticker]::after {
	content: "";
	width: 86px;
	height: 86px;
	border-radius: 10px;
	opacity: 0.9;
}
[data-sticker="u"]::after { background-color: yellow; }
[data-sticker="r"]::after { background-color: green; }
[data-sticker="f"]::after { background-color: red; }
[data-sticker="l"]::after { background-color: blue; }
[data-sticker="b"]::after { background-color: orange; }
[data-sticker="d"]::after { background-color: white; }


[data-turn] {
	transition: transform .8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-turn$="1"] { --turn-angle: 90deg; }
[data-turn$="2"] { --turn-angle: 180deg; }
[data-turn$="3"] { --turn-angle: -90deg; }
[data-turn^="u"] { transform: rotate3d( 0, -1,  0, var(--turn-angle)); }
[data-turn^="r"] { transform: rotate3d( 1,  0,  0, var(--turn-angle)); }
[data-turn^="f"] { transform: rotate3d( 0,  0,  1, var(--turn-angle)); }
[data-turn^="l"] { transform: rotate3d(-1,  0,  0, var(--turn-angle)); }
[data-turn^="b"] { transform: rotate3d( 0,  0, -1, var(--turn-angle)); }
[data-turn^="d"] { transform: rotate3d( 0,  1,  0, var(--turn-angle)); }

/* .turn-u1, .turn-d3 { transform: rotateY(-90deg); }
.turn-f1, .turn-b3 { transform: rotateZ(90deg); }
.turn-r1, .turn-l3 { transform: rotateX(90deg); }
.turn-l1, .turn-r3 { transform: rotateX(-90deg); }
.turn-b1, .turn-f3 { transform: rotateZ(-90deg); }
.turn-d1, .turn-u3 { transform: rotateY(90deg); }
.turn-u2 { transform: rotateY(-180deg); }
.turn-f2 { transform: rotateZ(180deg); }
.turn-r2 { transform: rotateX(180deg); }
.turn-l2 { transform: rotateX(-180deg); }
.turn-b2 { transform: rotateZ(-180deg); }
.turn-d2 { transform: rotateY(180deg); } */
