<style>
	@import 'cube3d.css';
</style>

<div class="scene" data-scale="50">
	<div class="cube">

		<div data-turn=f1>
			<div data-p=0>
				<div data-o=0>
					<div class="face" data-sticker=u></div>
					<div class="face" data-sticker=r></div>
					<div class="face" data-sticker=f></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=1>
				<div data-o=0>
					<div class="face" data-sticker=u></div>
					<div class="face" data-sticker=f></div>
					<div class="face" data-sticker=l></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=2>
				<div data-o=0>
					<div class="face" data-sticker=u></div>
					<div class="face" data-sticker=b></div>
					<div class="face" data-sticker=r></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=3>
				<div data-o=0>
					<div class="face" data-sticker=u></div>
					<div class="face" data-sticker=l></div>
					<div class="face" data-sticker=b></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=4>
				<div data-o=0>
					<div class="face" data-sticker=d></div>
					<div class="face" data-sticker=f></div>
					<div class="face" data-sticker=r></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=5>
				<div data-o=0>
					<div class="face" data-sticker=d></div>
					<div class="face" data-sticker=l></div>
					<div class="face" data-sticker=f></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=6>
				<div data-o=0>
					<div class="face" data-sticker=d></div>
					<div class="face" data-sticker=r></div>
					<div class="face" data-sticker=b></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>
		<div data-turn>
			<div data-p=7>
				<div data-o=0>
					<div class="face" data-sticker=d></div>
					<div class="face" data-sticker=b></div>
					<div class="face" data-sticker=l></div>
					<div class="face"></div>
					<div class="face"></div>
					<div class="face"></div>
				</div>
			</div>
		</div>

	</div>
</div>
