<style>
	@import 'cube3d.css';
</style>

<div class="scene" data-scale="50">
	<div class="cube">

		<div class="cube-layer">
			<div class="cubie" data-p=0 data-o=0>
				<div data-cubie=0>
					<div data-face=u class="sticker"></div>
					<div data-face=f class="sticker"></div>
					<div data-face=r class="sticker"></div>
					<div data-face=l></div>
					<div data-face=b></div>
					<div data-face=d></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=1 data-o=0>
				<div data-cubie=1>
					<div data-face=u class="sticker"></div>
					<div data-face=f class="sticker"></div>
					<div data-face=r></div>
					<div data-face=l class="sticker"></div>
					<div data-face=b></div>
					<div data-face=d></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=2 data-o=0>
				<div data-cubie=2>
					<div data-face=u class="sticker"></div>
					<div data-face=f></div>
					<div data-face=r class="sticker"></div>
					<div data-face=l></div>
					<div data-face=b class="sticker"></div>
					<div data-face=d></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=3 data-o=0>
				<div data-cubie=3>
					<div data-face=u class="sticker"></div>
					<div data-face=f></div>
					<div data-face=r></div>
					<div data-face=l class="sticker"></div>
					<div data-face=b class="sticker"></div>
					<div data-face=d></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=4 data-o=0>
				<div data-cubie=4>
					<div data-face=u></div>
					<div data-face=f class="sticker"></div>
					<div data-face=r class="sticker"></div>
					<div data-face=l></div>
					<div data-face=b></div>
					<div data-face=d class="sticker"></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=5 data-o=0>
				<div data-cubie=5>
					<div data-face=u></div>
					<div data-face=f class="sticker"></div>
					<div data-face=r></div>
					<div data-face=l class="sticker"></div>
					<div data-face=b></div>
					<div data-face=d class="sticker"></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=6 data-o=0>
				<div data-cubie=6>
					<div data-face=u></div>
					<div data-face=f></div>
					<div data-face=r class="sticker"></div>
					<div data-face=l></div>
					<div data-face=b class="sticker"></div>
					<div data-face=d class="sticker"></div>
				</div>
			</div>
		</div>
		<div class="cube-layer">
			<div class="cubie" data-p=7 data-o=0>
				<div data-cubie=7>
					<div data-face=u></div>
					<div data-face=f></div>
					<div data-face=r></div>
					<div data-face=l class="sticker"></div>
					<div data-face=b class="sticker"></div>
					<div data-face=d class="sticker"></div>
				</div>
			</div>
		</div>

	</div>
</div>
