.scene { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


.scene {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	/* perspective-origin: 50% 50%; */
	/* background: #aaaa; */
}

@keyframes rotate {
	from { transform: rotateX(-.15turn) rotateY(0); }
	to { transform: rotateX(.85turn) rotateY(5turn); }
}
.cube {
	animation: rotate 35s infinite linear;
}
  


.cube {
	position: relative;
	top: -50px;  /* move cube to the middle (as size of one cubie face is 100px*100px */
	right: 50px;
	transform-style: preserve-3d;
	transform-origin: 50px 50px;  /* so the cube rotates around middle of itself */
	transform: rotateY(-30deg) rotateX(-20deg) rotateZ(9deg);
}
.cube-layer {
	transform-style: preserve-3d;
	transform-origin: 50px 50px;
}
.cube-layer.turn {
	transition: transform .8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cubie {
	transform-style: preserve-3d;
	transform-origin: 50px 50px;
}

.cubie-corner-position-0 { transform: translate3d(50px, -50px, 50px); }
.cubie-corner-position-1 { transform: translate3d(-50px, -50px, 50px) rotateY(-90deg); }
.cubie-corner-position-2 { transform: translate3d(50px, -50px, -50px) rotateY(90deg); }
.cubie-corner-position-3 { transform: translate3d(-50px, -50px, -50px) rotateY(180deg); }
.cubie-corner-position-4 { transform: translate3d(50px, 50px, 50px) rotateX(180deg) rotateY(90deg); }
.cubie-corner-position-5 { transform: translate3d(-50px, 50px, 50px) rotateX(180deg) rotateY(180deg); }
.cubie-corner-position-6 { transform: translate3d(50px, 50px, -50px) rotateX(180deg); }
.cubie-corner-position-7 { transform: translate3d(-50px, 50px, -50px) rotateX(180deg) rotateY(-90deg); }

.cubie-corner-orientation-0 {}
.cubie-corner-orientation-1 { transform: rotateY(-90deg) rotateX(90deg); }
.cubie-corner-orientation-2 { transform: rotateY(90deg) rotateZ(-90deg); }


[data-face] {
	position: absolute;
	width: 100px;
	height: 100px;
	/* background-color: rgba(0,30,60,0.2); */
	background-color: black;
	border-radius: 16px;
	transform-style: preserve-3d;
	backface-visibility: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

[data-face="u"] { transform: rotateX(90deg)  translateZ(50px); }
[data-face="f"] { transform:                 translateZ(50px); }
[data-face="r"] { transform: rotateY(90deg)  translateZ(50px); }
[data-face="l"] { transform: rotateY(-90deg) translateZ(50px); }
[data-face="b"] { transform: rotateY(180deg) translateZ(50px); }
[data-face="d"] { transform: rotateX(-90deg) translateZ(50px); }

[data-face="u"].inside { transform: rotateX(-90deg) translateZ(-50px); }
[data-face="f"].inside { transform: rotateY(180deg) translateZ(-50px); }
[data-face="r"].inside { transform: rotateY(-90deg) translateZ(-50px); }
[data-face="l"].inside { transform: rotateY(90deg)  translateZ(-50px); }
[data-face="b"].inside { transform:                 translateZ(-50px); }
[data-face="d"].inside { transform: rotateX(90deg)  translateZ(-50px); }

[data-sticker] {
	width: 86px;
	height: 86px;
	border-radius: 10px;
}
[data-sticker="u"] { background-color: yellow; }
[data-sticker="f"] { background-color: red; }
[data-sticker="r"] { background-color: green; }
[data-sticker="l"] { background-color: blue; }
[data-sticker="b"] { background-color: orange; }
[data-sticker="d"] { background-color: white; }


.turn-u1, .turn-d3 { transform: rotateY(-90deg); }
.turn-f1, .turn-b3 { transform: rotateZ(90deg); }
.turn-r1, .turn-l3 { transform: rotateX(90deg); }
.turn-l1, .turn-r3 { transform: rotateX(-90deg); }
.turn-b1, .turn-f3 { transform: rotateZ(-90deg); }
.turn-d1, .turn-u3 { transform: rotateY(90deg); }
.turn-u2 { transform: rotateY(-180deg); }
.turn-f2 { transform: rotateZ(180deg); }
.turn-r2 { transform: rotateX(180deg); }
.turn-l2 { transform: rotateX(-180deg); }
.turn-b2 { transform: rotateZ(-180deg); }
.turn-d2 { transform: rotateY(180deg); }
