<style>
	@import 'cube3d.css';
</style>

<div>
	<div class="cube">
		<div data-slot=0-URF-xyz>
			<div data-p=0 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=R></div>
				<div class="face" data-sticker=F></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=1-UFL-xyz>
			<div data-p=1 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=F></div>
				<div class="face" data-sticker=L></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=2-UBR-xyz>
			<div data-p=2 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=B></div>
				<div class="face" data-sticker=R></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=3-ULB-xyz>
			<div data-p=3 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=L></div>
				<div class="face" data-sticker=B></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=4-DFR-xyz>
			<div data-p=4 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=F></div>
				<div class="face" data-sticker=R></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=5-DLF-xyz>
			<div data-p=5 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=L></div>
				<div class="face" data-sticker=F></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=6-DRB-xyz>
			<div data-p=6 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=R></div>
				<div class="face" data-sticker=B></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=7-DBL-xyz>
			<div data-p=7 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=B></div>
				<div class="face" data-sticker=L></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>

	</div>
</div>
