<style>
	:host {
		--a: 3em;  /* half cubie edge length */
		--b: -3em;
	}

	:host * {
		transform-style: preserve-3d;
		transform-origin: var(--a) var(--a);
	}

	:host > div {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 300px;
		perspective: 1000px;
	}


	@keyframes rotate {
		from { transform: rotateX(-.15turn) rotateY(0); }
		to { transform: rotateX(.85turn) rotateY(5turn); }
	}


	.cube {
		position: relative;
		top: var(--b);  /* move cube to the middle */
		left: var(--b);
		transform: rotateY(-30deg) rotateX(-25deg) rotateZ(10deg);
		/* animation: rotate 50s infinite linear; */
	}



	[data-o="0"] { --transform-o: rotate3d(1, -1, 1,   0deg); }
	[data-o="1"] { --transform-o: rotate3d(1, -1, 1, 120deg); }
	[data-o="2"] { --transform-o: rotate3d(1, -1, 1, 240deg); }

	[data-slot|="0"] { --transform-p: rotateY(0); }
	[data-slot|="1"] { --transform-p: rotateY(-90deg); }
	[data-slot|="2"] { --transform-p: rotateY(90deg); }
	[data-slot|="3"] { --transform-p: rotateY(180deg); }
	[data-slot|="4"] { --transform-p: rotateX(180deg) rotateY(90deg); }
	[data-slot|="5"] { --transform-p: rotateZ(180deg); }
	[data-slot|="6"] { --transform-p: rotateX(180deg); }
	[data-slot|="7"] { --transform-p: rotateX(180deg) rotateY(-90deg); }


	[data-slot] > [data-o] {
		transform: var(--transform-p) var(--transform-o) translate3d(var(--a), var(--b), var(--a));
	}


	/* outer (main) side of each face */
	.face {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: calc(2 * var(--a));
		height: calc(2 * var(--a));
		background-color: rgba(0,30,60,0.2);
		background-color: black;
		backface-visibility: hidden;
		border-radius: calc(.25 * var(--a));
	}

	/* inner side of each face */
	.face::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		transform: rotateX(180deg);
		border-radius: inherit;
		background-color: inherit;
		backface-visibility: inherit;
	}

	.face:nth-child(1) { transform: rotateX(90deg)  translateZ(var(--a)); }
	.face:nth-child(2) { transform: rotateY(90deg)  translateZ(var(--a)); }
	.face:nth-child(3) { transform:                 translateZ(var(--a)); }
	.face:nth-child(4) { transform: rotateY(-90deg) translateZ(var(--a)); }
	.face:nth-child(5) { transform: rotateY(180deg) translateZ(var(--a)); }
	.face:nth-child(6) { transform: rotateX(-90deg) translateZ(var(--a)); }


	[data-sticker]::after {
		content: "";
		width: calc(1.7 * var(--a));
		height: calc(1.7 * var(--a));
		border-radius: calc(.2 * var(--a));
		opacity: 0.9;
		backface-visibility: inherit;
	}
	[data-sticker="U"]::after { background-color: yellow; }
	[data-sticker="R"]::after { background-color: green; }
	[data-sticker="F"]::after { background-color: red; }
	[data-sticker="L"]::after { background-color: blue; }
	[data-sticker="B"]::after { background-color: orange; }
	[data-sticker="D"]::after { background-color: white; }


	.cross-plane {
		position: absolute;
		width: calc(2 * var(--a));
		height: calc(2 * var(--a));
		background: black;
	}
	.cross-plane ~ .cross-plane { transform: rotateY(90deg); }
	.cross-plane ~ .cross-plane ~ .cross-plane { transform: rotateX(90deg); }

</style>

<div>
	<div class="cube">
		<div data-slot=0-URF-xyz>
			<div data-p=0 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=R></div>
				<div class="face" data-sticker=F></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=1-UFL-xyz>
			<div data-p=1 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=F></div>
				<div class="face" data-sticker=L></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=2-UBR-xyz>
			<div data-p=2 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=B></div>
				<div class="face" data-sticker=R></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=3-ULB-xyz>
			<div data-p=3 data-o=0>
				<div class="face" data-sticker=U></div>
				<div class="face" data-sticker=L></div>
				<div class="face" data-sticker=B></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=4-DFR-xyz>
			<div data-p=4 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=F></div>
				<div class="face" data-sticker=R></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=5-DLF-xyz>
			<div data-p=5 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=L></div>
				<div class="face" data-sticker=F></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=6-DRB-xyz>
			<div data-p=6 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=R></div>
				<div class="face" data-sticker=B></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>
		<div data-slot=7-DBL-xyz>
			<div data-p=7 data-o=0>
				<div class="face" data-sticker=D></div>
				<div class="face" data-sticker=B></div>
				<div class="face" data-sticker=L></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="face"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
				<div class="cross-plane"></div>
			</div>
		</div>

	</div>
</div>
